
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9;
  align-left;
  border: 1.5px solid gray;
  border-color: black;
  display: flex;
  justify-content: center;
  }

a {
  display: block;
  padding: 2.4% 8%;
  margin: 0;
  font-family:'Franklin Gothic Medium'; float: left;
  text-decoration: none;
  color:#5A5A5A;
}

div a:hover {
background-color: #D3D3D3;
}
.active {
  background-color: #90EE90;
}

h1 {
text-align: center;
}
body{
background-color:#32c766;
background-image: url("/Images/backround.jpg");
}

.first {
width: 2.5%;
max-height:
}